# Time Series Analysis - AdEase

## About
Ad Ease is an ads and marketing based company helping businesses elicit maximum clicks @ minimum cost. AdEase is an ad infrastructure to help businesses promote themselves easily, effectively, and economically. The interplay of 3 AI modules - Design, Dispense, and Decipher, come together to make it this an end-to-end 3 step process digital advertising solution for all.

## Problem description
You are working in the Data Science team of Ad ease trying to understand the per page view report for different wikipedia pages for 550 days, and forecasting the number of views so that you can predict and optimize the ad placement for your clients. You are provided with the data of 145k wikipedia pages and daily view count for each of them. Your clients belong to different regions and need data on how their ads will perform on pages in different languages.

## Data
There are two csv files given

**train_1.csv**: In the csv file, each row corresponds to a particular article and each column corresponds to a particular date. The values are the number of visits on that date. The page name contains data in this format, having information about the page name, the main domain, the device type used to access the page, and also the request origin(spider or browser agent):<br>
SPECIFIC NAME _ LANGUAGE.wikipedia.org _ ACCESS TYPE _ ACCESS ORIGIN

**Exog_Campaign_eng**: This file contains data for the dates which had a campaign or significant event that could affect the views for that day. The data is just for pages in English. There’s 1 for dates with campaigns and 0 for remaining dates. It is to be treated as an exogenous variable for models when training and forecasting data for pages in English

In [2]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels as sm

In [67]:
# importing the data
raw = pd.read_csv("data/train_1.csv")

In [29]:
raw.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,32.0,63.0,15.0,26.0,14.0,20.0,22.0,19.0,18.0,20.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,17.0,42.0,28.0,15.0,9.0,30.0,52.0,45.0,26.0,20.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,3.0,1.0,1.0,7.0,4.0,4.0,6.0,3.0,4.0,17.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,32.0,10.0,26.0,27.0,16.0,11.0,17.0,19.0,10.0,11.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36.0,10.0

In [30]:
raw.shape

(145063, 551)

In [31]:
raw.duplicated().sum()

0

In [68]:
date_cols = list(raw.columns)
date_cols.remove('Page')

In [69]:
_ = raw.shape[0]
raw = raw.dropna(how='all',subset=date_cols)
print(f"{_-raw.shape[0]} rows removed out of {_}")

652 rows removed out of 145063

In [70]:
data = raw.melt(id_vars='Page', var_name='date', value_name='views')
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')
data = data.sort_values(by='date', ascending=True).reset_index(drop=True)

In [71]:
data.head()

                                                Page       date   views
0            2NE1_zh.wikipedia.org_all-access_spider 2015-07-01    18.0
1  Síndrome_de_Guillain-Barré_es.wikipedia.org_mo... 2015-07-01   556.0
2  Organización_del_Tratado_del_Atlántico_Norte_e... 2015-07-01    55.0
3  Juego_de_tronos_(serie_de_televisión)_es.wikip... 2015-07-01  3202.0
4  Especial:LoQueEnlazaAquí_es.wikipedia.org_mobi... 2015-07-01   433.0

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79426050 entries, 0 to 79426049
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Page    object
 1   date    datetime64[ns]
 2   views   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.8+ GB

In [73]:
data.isna().sum()

Page           0
date           0
views    5834331
dtype: int64

In [74]:
def fill_null_values(ser):
    filled_series = ser.interpolate().bfill().ffill()
    return filled_series

In [75]:
data['views'] = data.groupby('Page')['views'].transform(fill_null_values)

In [76]:
data['views'].isna().sum()

0